body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 238);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#registroForm{
    background-color: rgb(219, 220, 207);
    margin: 15px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

label{
    display: block;
    margin-bottom: 5px;
}

label.inline{
    display: inline-block;
}

input, select{
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 7px;
    box-sizing: border-box;
}

input[type='checkbox']{
    margin: 8px 0 8px 0;
}

input[type='text'],
input[type='number'],
input[type='email'],
select{
    width: 100%;
}

input[type='submit']{
    background-color: rgb(98, 194, 71);
    color: rgb(241, 237, 237);
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .6s ease;
}

input[type='submit']:hover{
    background-color: rgb(108, 136, 100);
}

.error{
    color: red;
    font-size: 10px;
}